ul,
p {
  padding: 0px;
  margin: 0px;
}
.section {
  width: 600px;
  text-align: center;
  background-color: antiquewhite;
  list-style-type: none;

  padding: 15px;
  margin-bottom: 10px;
}

.avatar {
  width: 100px;
  height: 100px;
  margin-bottom: 5px;

  border: 1px solid #a5a5a563;
  box-shadow: 3px 4px 3px rgb(0 0 0 / 12%), 3px 4px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
}

.name {
  font-size: 20px;
  font-weight: 800;

  margin-bottom: 5px;
}

.tag {
  font-size: 20px;

  margin-bottom: 5px;
}

.location {
  font-size: 20px;

  margin-bottom: 5px;
}

.stats {
  list-style-type: none;

  display: flex;
  justify-content: space-between;

  padding: 0px;
}

.label {
  font-size: 20px;
  font-weight: 800;

  margin-bottom: 10px;
}

.statsItem {
  display: flex;
  justify-content: center;
  flex-direction: column;

  padding: 5px;
  width: 185px;
  border: 1px solid #a5a5a563;
  box-shadow: 3px 4px 3px rgb(0 0 0 / 12%), 3px 4px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #a5a5a563;
  box-shadow: 3px 4px 3px rgb(0 0 0 / 12%), 3px 4px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
}
